#define IDR_WAVE_01_1 100
#define IDR_WAVE_01_11 101
#define IDR_WAVE_10_1 102
#define IDR_WAVE_10_2 103
#define IDR_WAVE_12_1 104
#define IDR_WAVE_13_1 105
#define IDR_WAVE_14 106
#define IDR_WAVE_171 107
#define IDR_WAVE_173 108
#define IDR_WAVE_2_1 109
#define IDR_WAVE_3_2 110
#define IDR_WAVE_4_2 111
#define IDR_WAVE_5_1 112
#define IDR_WAVE_6_2 113
#define IDR_WAVE_7_1 114
#define IDR_WAVE_8_1 115
#define IDR_WAVE_9_5 116
#define IDR_WAVE_9_A 117
#define IDR_WAVE_9_B 118
#define IDR_WAVE_9_C 119
#define IDR_WAVE_9_D 120
#define IDR_WAVE_9_F 121
#define IDR_WAVE_COIN2 122
#define IDR_WAVE_GOODJOB1 123
#define IDR_WAVE_GOODJOB2 124
#define IDR_WAVE_GOODJOB3 125
#define IDR_WAVE_NOTGOOD1 126
#define IDR_WAVE_NOTGOOD2 127
#define IDR_WAVE_NOTGOOD3 128
#define IDR_WAVE_NOTGOOD4 129
#define IDR_WAVE_RANK_A 130
#define IDR_WAVE_RANK_B 131
#define IDR_WAVE_RANK_C 132
#define IDR_WAVE_RANK_D 133
#define IDR_WAVE_RANK_F 134

IDR_WAVE_01_1 WAVE "..\\..\\WAVE\\01-1.wav"
IDR_WAVE_01_11 WAVE "..\\..\\WAVE\\01-11.wav"
IDR_WAVE_10_1 WAVE "..\\..\\WAVE\\10-1.wav"
IDR_WAVE_10_2 WAVE "..\\..\\WAVE\\10-2.wav"
IDR_WAVE_12_1 WAVE "..\\..\\WAVE\\12-1.wav"
IDR_WAVE_13_1 WAVE "..\\..\\WAVE\\13-1.wav"
IDR_WAVE_14 WAVE "..\\..\\WAVE\\14.wav"
IDR_WAVE_171 WAVE "..\\..\\WAVE\\171.wav"
IDR_WAVE_173 WAVE "..\\..\\WAVE\\173.wav"
IDR_WAVE_2_1 WAVE "..\\..\\WAVE\\2-1.wav"
IDR_WAVE_3_2 WAVE "..\\..\\WAVE\\3-2.wav"
IDR_WAVE_4_2 WAVE "..\\..\\WAVE\\4-2.wav"
IDR_WAVE_5_1 WAVE "..\\..\\WAVE\\5-1.wav"
IDR_WAVE_6_2 WAVE "..\\..\\WAVE\\6-2.wav"
IDR_WAVE_7_1 WAVE "..\\..\\WAVE\\7-1.wav"
IDR_WAVE_8_1 WAVE "..\\..\\WAVE\\8-1.wav"
IDR_WAVE_9_5 WAVE "..\\..\\WAVE\\9-5.wav"
IDR_WAVE_9_A WAVE "..\\..\\WAVE\\9-A.wav"
IDR_WAVE_9_B WAVE "..\\..\\WAVE\\9-B.wav"
IDR_WAVE_9_C WAVE "..\\..\\WAVE\\9-C.wav"
IDR_WAVE_9_D WAVE "..\\..\\WAVE\\9-D.wav"
IDR_WAVE_9_F WAVE "..\\..\\WAVE\\9-F.wav"
IDR_WAVE_COIN2 WAVE "..\\..\\WAVE\\COIN2.wav"
IDR_WAVE_GOODJOB1 WAVE "..\\..\\WAVE\\GOODJOB1.wav"
IDR_WAVE_GOODJOB2 WAVE "..\\..\\WAVE\\GOODJOB2.wav"
IDR_WAVE_GOODJOB3 WAVE "..\\..\\WAVE\\GOODJOB3.wav"
IDR_WAVE_NOTGOOD1 WAVE "..\\..\\WAVE\\NOTGOOD1.wav"
IDR_WAVE_NOTGOOD2 WAVE "..\\..\\WAVE\\NOTGOOD2.wav"
IDR_WAVE_NOTGOOD3 WAVE "..\\..\\WAVE\\NOTGOOD3.wav"
IDR_WAVE_NOTGOOD4 WAVE "..\\..\\WAVE\\NOTGOOD4.wav"
IDR_WAVE_RANK_A WAVE "..\\..\\WAVE\\RANK_A.wav"
IDR_WAVE_RANK_B WAVE "..\\..\\WAVE\\RANK_B.wav"
IDR_WAVE_RANK_C WAVE "..\\..\\WAVE\\RANK_C.wav"
IDR_WAVE_RANK_D WAVE "..\\..\\WAVE\\RANK_D.wav"
IDR_WAVE_RANK_F WAVE "..\\..\\WAVE\\RANK_F.wav"
